<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <!--Now log to a local directory in the same space as the executable.-->
      <param name="File" value="..\..\log\CaseManager.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger.%M - %message%newline" />
      </layout>
    </appender>
    
  </log4net>
  
  <system.diagnostics>
    <switches>
      <add name="Application" value="4" />
    </switches>
  </system.diagnostics>
  
  
</configuration>